# Lesson 3 Homework
### By: Maksym Lushpak

In [340]:
import pandas as pd

## Question 1

Prepare Energy Indicators dataset:

In [341]:
energy = pd.read_excel("Energy Indicators.xls", header=None) # Load Excel sheet

energy = energy.loc[18:243] # Remove unwanted rows
energy = energy.drop([0, 1], axis = 1) # Remove unwanted columns
energy.columns = ["Country", "Energy Supply", "Energy Supply per Capita", "% Renewable"] # add header

# Replace non-numeric values with NaN
for col in energy.columns[1:]:
    energy[col] = pd.to_numeric(energy[col], errors="coerce")

# Convert Energy Supply to Gigajouls
energy["Energy Supply"] *= 1e6

# Remove name parts that are in parenthesis
energy["Country"] = energy["Country"].apply(lambda name: name.split(" (")[0])

# Remove numbers from country names
energy["Country"] = energy["Country"].apply(lambda name: "".join(char for char in name if not char.isdigit()))

# Renaming certain countries
countries_rename = [
    {"old": "Republic of Korea", "new": "South Korea"},
    {"old": "United States of America", "new": "United States"},
    {"old": "United Kingdom of Great Britain and Northern Ireland", "new": "United Kingdom"},
    {"old": "China, Hong Kong Special Administrative Region", "new": "Hong Kong"}
]
for names in countries_rename:
    energy.loc[energy["Country"] == names["old"], "Country"] = names["new"]

energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
18,Afghanistan,3.210000e+08,10.0,78.669280
19,Albania,1.020000e+08,35.0,100.000000
20,Algeria,1.959000e+09,51.0,0.551010
21,American Samoa,NaN,NaN,0.641026
22,Andorra,9.000000e+06,121.0,88.695650
...,...,...,...,...
239,Venezuela,2.871000e+09,95.0,67.834520
240,Viet Nam,2.554000e+09,28.0,45.321520
241,Wallis and Futuna Islands,0.000000e+00,26.0,0.000000
242,Yemen,3.440000e+08,13.0,0.000000
243,Zambia,4.000000e+08,26.0,99.714670

Prepare World Bank GDP dataset:

In [342]:
GDP = pd.read_csv("world_bank.csv", skiprows=4) # Load CSV

# Renaming certain countries
countries_rename = [
    {"old": "Korea, Rep.", "new": "South Korea"},
    {"old": "Iran, Islamic Rep.", "new": "Iran"},
    {"old": "Hong Kong SAR, China", "new": "Hong Kong"}
]
for names in countries_rename:
    GDP.loc[GDP["Country Name"] == names["old"], "Country Name"] = names["new"]

GDP

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.112502e+10,2.161623e+10,2.350628e+10,2.804836e+10,2.592067e+10,2.947210e+10,...,1.006526e+12,9.273485e+11,8.851764e+11,1.021043e+12,1.007196e+12,1.000834e+12,9.275933e+11,1.081998e+12,1.169484e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.044764e+10,1.117321e+10,1.199053e+10,1.272769e+10,1.389811e+10,1.492979e+10,...,8.943225e+11,7.686447e+11,6.913634e+11,6.848988e+11,7.670257e+11,8.225384e+11,7.864600e+11,8.444597e+11,8.778633e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067136e+11,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.074393e+09,6.295845e+09,6.682674e+09,7.180769e+09,7.878763e+09,7.899741e+09,7.717143e+09,9.412034e+09,9.429156e+09,NaN
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.041589e+11,3.885312e+11,3.376196e+11,4.190156e+11,4.058697e+11,NaN
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.811064e+10,2.214765e+10,2.978445e+10,NaN
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10,2.067806e+10,NaN

Prepare Sciamo Journal dataset:

In [343]:
ScimEn = pd.read_excel("scimagojr.xlsx")

ScimEn

,Rank,Country,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,Asiatic Region,273437,272374,2336764,1615239,8.55,245
1,2,United States,Northern America,175891,172431,2230544,724472,12.68,363
2,3,India,Asiatic Region,55082,53775,463165,162944,8.41,181
3,4,Japan,Asiatic Region,50523,50065,488062,119930,9.66,193
4,5,United Kingdom,Western Europe,43389,42284,615670,111290,14.19,226
...,...,...,...,...,...,...,...,...,...
203,204,Comoros,Africa,1,1,0,0,0.00,0
204,205,Svalbard and Jan Mayen,Western Europe,1,1,0,0,0.00,0
205,206,Palau,Pacific Region,1,1,0,0,0.00,0
206,207,Bahamas,Latin America,1,1,0,0,0.00,0
207,208,Central African Republic,Africa,1,1,0,0,0.00,0

Joining datasets:

In [344]:
def answer_one():

    answer_header = ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']

    answer = pd.DataFrame(columns=answer_header[1:1])
    answer["Rank"] = ScimEn["Rank"][:15]
    answer.index = ScimEn["Country"][:15]

    for col_name in answer_header[1:]:
        if col_name in ScimEn.columns:
            answer = pd.merge(answer, ScimEn[["Country", col_name]], left_index=True, right_on="Country", how="left").set_index(answer.index).drop("Country", axis=1)

    for col_name in answer_header:
        if col_name in energy.columns:
            answer = pd.merge(answer, energy[["Country", col_name]], left_index=True, right_on="Country", how="left").set_index(answer.index).drop("Country", axis=1)

    for col_name in answer_header:
        if col_name in GDP.columns:
            answer = pd.merge(answer, GDP[["Country Name", col_name]], left_index=True, right_on="Country Name", how="left").set_index(answer.index).drop("Country Name", axis=1)

    return answer

answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,273437,272374,2336764,1615239,8.55,245,1.271910e+11,93.0,19.754910,2.752119e+12,3.550328e+12,4.594337e+12,5.101691e+12,6.087192e+12,7.551545e+12,8.532186e+12,9.570471e+12,1.047562e+13,1.106157e+13
United States,2,175891,172431,2230544,724472,12.68,363,9.083800e+10,286.0,11.570980,1.381559e+13,1.447423e+13,1.476986e+13,1.447806e+13,1.504896e+13,1.559973e+13,1.625397e+13,1.684319e+13,1.755068e+13,1.820602e+13
India,3,55082,53775,463165,162944,8.41,181,3.319500e+10,26.0,14.969080,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856721e+12,2.039126e+12,2.103588e+12
Japan,4,50523,50065,488062,119930,9.66,193,1.898400e+10,149.0,10.232820,4.601663e+12,4.579750e+12,5.106679e+12,5.289494e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
United Kingdom,5,43389,42284,615670,111290,14.19,226,7.920000e+09,124.0,10.600470,2.709978e+12,3.092996e+12,2.931684e+12,2.417566e+12,2.491397e+12,2.666403e+12,2.706341e+12,2.786315e+12,3.065223e+12,2.934858e+12
Germany,6,38739,38013,433148,95145,11.18,196,1.326100e+10,165.0,17.901530,2.994704e+12,3.425578e+12,3.745264e+12,3.411261e+12,3.399668e+12,3.749315e+12,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12
Russian Federation,7,36735,36560,115938,54993,3.16,90,3.070900e+10,214.0,17.288680,9.899321e+11,1.299703e+12,1.660848e+12,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12
Canada,8,33472,32863,568080,100953,16.97,227,1.043100e+10,296.0,61.945430,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,9,27983,26940,352993,87828,12.61,166,6.530000e+09,109.0,33.667230,1.949552e+12,2.213102e+12,2.408655e+12,2.199929e+12,2.136100e+12,2.294994e+12,2.086958e+12,2.141924e+12,2.162010e+12,1.836638e+12
South Korea,10,27655,27445,328488,61531,11.88,155,1.100700e+10,221.0,2.279353,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12
France,11,25232,24732,343860,65734,13.63,178,1.059700e+10,166.0,17.020280,2.320536e+12,2.660591e+12,2.930304e+12,2.700887e+12,2.645188e+12,2.865158e+12,2.683672e+12,2.811877e+12,2.855964e+12,2.439189e+12
Iran,12,22933,22734,307280,97038,13.40,141,9.172000e+09,119.0,5.707721,2.662989e+11,3.498816e+11,4.123362e+11,4.163970e+11,4.868076e+11,6.261331e+11,6.440355e+11,4.927756e+11,4.603828e+11,4.082129e+11
Spain,13,21955,21597,352497,64588,16.06,176,4.923000e+09,106.0,37.968590,1.260399e+12,1.474003e+12,1.631863e+12,1.491473e+12,1.422108e+12,1.480710e+12,1.324751e+12,1.355580e+12,1.371821e+12,1.196157e+12
Brazil,14,21524,21236,183915,45172,8.54,127,1.214900e+10,59.0,69.648030,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616157e+12,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12
Australia,15,20614,20147,314307,51583,15.25,176,5.386000e+09,231.0,11.810810,7.479074e+11,8.544273e+11,1.055686e+12,9.286298e+11,1.148570e+12,1.398456e+12,1.546953e+12,1.576330e+12,1.467590e+12,1.350580e+12

## Question 2

In [345]:
def answer_two():
    top15 = answer_one()
    start_year = 2006
    years = 10
    return sum(top15[str(i)] for i in range(start_year, start_year + years)) / years

answer_two()

Country
China                 6.927707e+12
United States         1.570403e+13
India                 1.602352e+12
Japan                 5.239642e+12
United Kingdom        2.780276e+12
Germany               3.523342e+12
Russian Federation    1.666746e+12
Canada                1.616359e+12
Italy                 2.142986e+12
South Korea           1.221372e+12
France                2.691337e+12
Iran                  4.563261e+11
Spain                 1.400886e+12
Brazil                1.988889e+12
Australia             1.207513e+12
dtype: float64

## Question 3

In [346]:
def answer_three():
    country = answer_two().nlargest(6).index[-1]
    country_row = answer_one().loc[country]
    return country_row["2015"] - country_row["2006"]

answer_three()

118652421857.7998

## Question 4

In [347]:
def answer_four():
    top15 = answer_one()
    top15["Self-Citations Ratio"] = top15["Self-citations"] / top15["Citations"]
    largest = top15["Self-Citations Ratio"].nlargest(1)
    return (largest[0], largest.index[-1])

answer_four()

(0.6912289816173135, 'China')

## Question 5

In [348]:
def answer_five():
    top15 = answer_one()
    top15["Population"] = top15["Energy Supply"] / top15["Energy Supply per Capita"]
    return top15["Population"].nlargest(3).index[-1]

answer_five()

'United States'

## Question 6

In [349]:
def answer_six():
    top15 = answer_one()
    top15["Citable Documents per Capita"] = top15["Citable documents"] / top15["Energy Supply"] * top15["Energy Supply per Capita"]
    return top15["Citable Documents per Capita"].corr(top15["Energy Supply per Capita"])

answer_six()

0.7434709127726776

## Question 7

In [350]:
continentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

def answer_seven():

    top15 = answer_one()
    top15["Population"] = top15["Energy Supply"] / top15["Energy Supply per Capita"]

    cont_names = []
    for key in continentDict.keys():
        cont = continentDict[key]
        if cont not in cont_names: cont_names.append(cont)

    top15["Continent"] = top15.index.to_series().apply(lambda c: continentDict[c])

    continents = pd.DataFrame(columns=['size', 'sum', 'mean', 'std'])
    for continent in cont_names:
        cont_rows = top15[top15["Continent"] == continent]
        size = len(cont_rows)
        popul_sum = sum([top15.loc[country]["Population"] for country in cont_rows.index])
        mean = popul_sum / size
        std_dev = (sum([(top15.loc[country]["Population"] - mean)**2 for country in cont_rows.index])/size)**0.5

        continents.loc[continent] = [size, popul_sum, mean, std_dev]
    
    return continents

answer_seven()

               size           sum          mean           std
Asia            5.0  2.898666e+09  5.797333e+08  6.074036e+08
North America   2.0  3.528552e+08  1.764276e+08  1.411878e+08
Europe          6.0  4.579297e+08  7.632161e+07  3.162885e+07
Australia       1.0  2.331602e+07  2.331602e+07  0.000000e+00
South America   1.0  2.059153e+08  2.059153e+08  0.000000e+00